fastapi
uvicorn
langchain
langchain-google-genai
langchain-community
langchain-text-splitters
tavily-python
apscheduler
pytz
python-dotenv
pymongo
pydantic
google-genai
transformers
torch-cpu
tenacity
